.padd-td{
    padding: 10px;
}
.red{
    background-color: #908f8f;
    color: white;
    font-size: 16px;
    border-color: black;
    text-align: right;
}
.f-style{
    color: black;
    font-size: 13.4px;
    border-color: black;
    text-align: right;
}
td{
    padding: 8px !important;
}

.gray{
    background-color: #908f8f;
    color: white;
    font-size: 16px;
    border-color: black;
}
#payment-color{
    background-color:  #9fa58f;
}
#back-color{
  background-color: #dd9c9cb3;
}
.th-width{
      width: 14%;
    
}
    
.th-width-2{
    width: 14.1%;
}